/* PARALLAX.CSS */
/* CSS created by Christopher Jay De Claro */
/* github.com/cjdeclaro */

/* Key Art default settings */
.keyart,
.keyart_layer {
	height: 1000px;
}

.keyart {
	position: relative;
	z-index: 10;
}

.keyart_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}

.keyart_layer.parallax {
	position: fixed;
}

.main-content {
	width: 100%;
	position: absolute;
	z-index: 200;
}

/* ADD OR REMOVE LAYERS AS NEEDED */

#keyart-0 {
	background-image: url(trial/zero.jpg);
}

#keyart-1 {
	background-image: url(trial/one.png);
}

#keyart-2 {
	background-image: url(trial/two.png);
}

#keyart-3 {
	background-image: url(trial/three.png);
}

#keyart-4 {
	background-image: url(trial/four.png);
}

#keyart-5 {
	background-image: url(trial/five.png);
}

#keyart-6 {
	background-image: url(trial/six.png);
}

#keyart-7 {
	background-image: url(trial/seven.png);
}

#keyart-8 {
	background-image: url(trial/eight.png);
}

#keyart-scrim {
	opacity: 0;
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
	.keyart,
	.keyart_layer {
		height: 800px;
	}
	.keyart_layer {
		background-size: auto 800px;
	}
}

@media (max-width: 992px) {
	.keyart,
	.keyart_layer {
		height: 600px;
	}
	.keyart_layer {
		background-size: auto 600px;
	}
}

@media (max-width: 768px) {
	.keyart,
	.keyart_layer {
		height: 400px;
	}
	.keyart_layer {
		background-size: auto 400px;
	}
}

@media (max-width: 576px) {
	.keyart,
	.keyart_layer {
		height: 300px;
	}
	.keyart_layer {
		background-size: auto 300px;
	}
}
